<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/style/css/style.css}" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>Run Calculator</title>
</head>
<body>
    <div th:insert="blocks/header.html :: header"></div>
    <h3>Калькулятор темпа и скорости бега</h3>
    <div>
        <div>час <input type="number" id="calc_hours" name="hours" min="0" max="24"></div>
        <div>мин <input type="number" id="calc_minutes" name="min" min="0" max="60"></div>
        <div>сек <input type="number" id="calc_seconds" name="sec" min="0" max="60"></div>
        <h4>Дистанция</h4>
        <div>км <input type="number" id="calc_distance_km" name="min" min="0" max="60"></div>
        <div>метров <input type="number" id="calc_distance_met" name="sec" min="0" max="60"></div>
        <form action="" method="post">
            <button name="calculate" value="calculate_data">расчитать темп и скорость бега</button>
        </form>
    </div>
</body>
</html>