<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/style/css/style.css}" rel="stylesheet" />
<body>
    <div th:fragment="header" id="container_header">
        <div id="header">
            <div id="header_weather" th:insert="~{blocks/weather.html :: weather}"></div>
            <div><a id="name_app" href="/"><h1>SimpleRun</h1></a></div>
            <div id="login_block">
                <div><a href="/registration">SignIn</a></div>
                <div><a href="/login">SignUp</a></div>
                <div><a href="/account" th:text="${userLogin}"></a></div>
                <div><a href="/login">LogOut</a></div>
            </div>
        </div>
        <div id="menu">
            <a class="menu_token" href="/calculate"><div>Run calculator</div></a>
            <a class="menu_token" href="/account"><div>Your account</div></a>
            <a class="menu_token" href="/"><div>Runner chat</div></a>
            <a class="menu_token" href="/"><div>About project</div></a>
        </div>
    </div>
</body>
</html>